# Overview of Databases
A database is a structured collection of data that is organized and stored in a systematic manner. 
It is designed to efficiently manage, retrieve, and manipulate large amounts of data with integrity and reliability. 
Databases are designed to store large quantities of data and in practice will be served from a remote server either internal to your company or hosted on the cloud.
## Structured Query Language (SQL) Databases
SQL databases follow a row and column structure to build tables of data which can be manipulated by various operations. The data format is meant to be rigid (i.e. structured) to ensure that a wide variety of operations (e.g. merges, joins) can be performed on the data.
## No-SQL Databases
Since SQL databases are widely used and known, anything else is referred to No-SQL databases. These include document databases which simply store a key tied to a document, or hierarchical databases which are optimized for fast search and others.
## Today's Examples Use ElephantSQL
Today's examples will use a cloud PostgreSQL service, ElephantSQL to interact with a live hosted Postgresql database. Postgresql is the successor to a database called Ingress, both developed at Berkeley. Today it is one of the most advanced open source rational databases available, according to its website. We will execute Create, Read, Update and Delete (CRUD) operations along with examples of transaction and error handling.
![](data/elephantdb_example.jpg)

# Python Libraries
* Psycopg2 - A full implementation of the Python DB API 2.0 specification
* Pandas - Pandas can use a database connection to read data into a Dataframe
* SQLAlchemy  
* MySQL Connector/Python (for MySQL)  
* Sqlite3

When choosing a Python library for database interaction, consider factors such as the target database system, the required functionality, performance, community support, and compatibility with your project requirements.
Ensure that the library is compatible with your Python version and properly maintained to receive updates and bug fixes.

# Create an ElephantSQL Database
ElephantSQL has a free tier, called Tiny Turtle that will allow you to work through the examples in this notebook.
[ElephantSQL Plans](https://www.elephantsql.com/plans.html). Create an account and follow the prompts to create a database.

# Steps to Establish a Connection
1. Import the appropriate library/module  
2. Define connection parameters  
- Determine the necessary connection parameters such as the host, port, database name, username, and password
- These parameters vary depending on the database system and the specific configuration of your database
3. Create a connection
- Use the library/module to create a connection by passing the connection parameters

# Establish a Connection Example

In [1]:
import os
from pathlib import Path
import psycopg2

In [2]:
# Read in the password from a file
with open(os.path.join(Path.home(), '.secrets/elephantdb'), 'r') as secret:
    password = secret.read().replace('\n', '').strip()
# Create the connection
conn = psycopg2.connect(
    host='bubble.db.elephantsql.com',
    database='twmzglvg', # Database name generated by ElephantSQL
    user='twmzglvg', # User name generated by ElephantSQL, same as database name
    password=password # Password generated by Elephant SQL stored in a read protected file for security
)

# Creating Tables
1. Establish a connection to the database server:
   - Use the appropriate Python library or module to establish a connection to the database server as discussed in the previous slide.
2. Execute the CREATE TABLE statement:
   - Once the connection is established, execute the SQL statement to create a table within the database.
   - The CREATE TABLE statement specifies the table name, column names, data types, constraints, and other properties.
3. Confirm the table creation:
   - After executing the CREATE TABLE statement, verify that the table has been successfully created.
   - You can use a database management tool or execute a SELECT statement to view the table structure.

# Creating a Table Example

In [3]:
# Create a new table
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS employees (
        id SERIAL PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        age INT,
        department VARCHAR(100)
    )
"""
cursor.execute(create_table_query)
conn.commit()

# Inserting Data
1. Establish a connection to the database server:
	- Use the appropriate Python library or module to establish a connection to the database server as discussed earlier.
2. Execute the INSERT INTO statement:
	- Once the connection is established, execute the SQL statement to insert data into the table.
	- The INSERT INTO statement specifies the table name and the values to be inserted into the respective columns.
3. Confirm the data insertion:
	- After executing the INSERT INTO statement, verify that the data has been successfully inserted into the table.
	- You can use a database management tool or execute a SELECT statement to view the inserted data.

# Inserting Data Example

In [4]:
cursor = conn.cursor()
insert_query = """
    INSERT INTO employees (name, age, department)
    VALUES (%s, %s, %s)
"""
data = [
    ('John Doe', 30, 'Sales'),
    ('Jane Smith', 35, 'Marketing'),
    ('Bob Johnson', 28, 'Engineering'),
    ('Sara Samson', 56, 'Engineering')
]
cursor.executemany(insert_query, data)

# Retrieving Data
1. Establish a connection to the database server:
   - Use the appropriate Python library or module to establish a connection to the database server as discussed earlier.
2. Execute the SELECT statement:
   - Once the connection is established, execute the SQL SELECT statement to retrieve data from the table.
   - The SELECT statement specifies the columns to be retrieved, the table name, and any conditions or filters.
3. Fetch the data:
	- After executing the SELECT statement, fetch the retrieved data using the appropriate method provided by the library or module.
	- The data is usually returned as a result set that can be iterated over or processed further.

# Retrieving Data Example

In [5]:
def print_table(table_name):
    # Retrieve data from the table
    cursor = conn.cursor()
    select_query = 'SELECT * FROM ' + table_name
    cursor.execute(select_query)
    result = cursor.fetchall()

    # Process the retrieved data
    for row in result:
        print(row)

print_table('employees')

(1, 'John Doe', 30, 'Sales')
(2, 'Jane Smith', 35, 'Marketing')
(3, 'Bob Johnson', 28, 'Engineering')
(4, 'Sara Samson', 56, 'Engineering')

# Updating Data
1. Establish a connection to the database server:
	- Use the appropriate Python library or module to establish a connection to the database server as discussed earlier.
2. Execute the UPDATE statement:
	- Once the connection is established, execute the SQL UPDATE statement to modify the existing data in the table.
	- The UPDATE statement specifies the table name, the column(s) to be updated, and the new values.
3. Confirm the data update:
	- After executing the UPDATE statement, verify that the data has been successfully updated.
	- You can use a database management tool or execute a SELECT statement to view the updated data.

# Updating Data Example

In [6]:
cursor = conn.cursor()
update_query = """
    UPDATE employees
    SET department = 'HR'
    WHERE age < 30
"""
cursor.execute(update_query)

print_table('employees')

(1, 'John Doe', 30, 'Sales')
(2, 'Jane Smith', 35, 'Marketing')
(4, 'Sara Samson', 56, 'Engineering')
(3, 'Bob Johnson', 28, 'HR')

# Deleting Data
1. Establish a connection to the database server:
	- Use the appropriate Python library or module to establish a connection to the database server as discussed earlier.
2. Execute the DELETE statement:
	- Once the connection is established, execute the SQL DELETE statement to remove the desired data from the table.
	- The DELETE statement specifies the table name and any conditions or filters to identify the data to be deleted.
3. Confirm the data deletion:
	- After executing the DELETE statement, verify that the data has been successfully deleted from the table.
	- You can use a database management tool or execute a SELECT statement to check if the specific data is no longer present.

# Deleting Data Example

In [7]:
cursor = conn.cursor()
delete_query = """
    DELETE FROM employees
    WHERE age >= 40
"""
cursor.execute(delete_query)
print_table('employees')

(1, 'John Doe', 30, 'Sales')
(2, 'Jane Smith', 35, 'Marketing')
(3, 'Bob Johnson', 28, 'HR')

# Querying the Database
Querying a database allows you to retrieve specific data based on your search criteria.
1. Establish a connection to the database server:
2. Execute the SELECT statement:
	- Once the connection is established, execute the SQL SELECT statement to specify the data you want to retrieve from the database.
	- The SELECT statement specifies the columns to be retrieved, the table name, and any conditions or filters.
3. Fetch the results:
	- After executing the SELECT statement, fetch the results using the appropriate method provided by the library or module.
	- The results are typically returned as a result set or a collection of rows that you can iterate over or process further.

# Querying the Database Example

In [8]:
# Query the database
cursor = conn.cursor()
select_query = 'SELECT * FROM employees WHERE age > 30'
cursor.execute(select_query)
results = cursor.fetchall()

# Process the query results
for row in results:
    print(row)

(2, 'Jane Smith', 35, 'Marketing')

# Handling Transactions
In the context of databases, a transaction refers to a logical unit of work that consists of one or more database operations.
Transactions allow you to group multiple database operations together, treating them as a single indivisible entity.
Transactions are important in database operations to ensure data integrity and consistency.
Python libraries provide mechanisms to handle transactions effectively.

# Steps for Handling Transactions
1. Establish a connection to the database server:.
2. Begin the transaction:
	- Once the connection is established, begin the transaction using the library's provided method.
	- This marks the starting point of the transaction.
3. Execute database operations:
	- Perform the required database operations (insert, update, delete, etc.) within the transaction scope.
	- These operations will be treated as a single unit of work.
4. Commit the transaction:
	- If all the operations within the transaction are successful, commit the transaction to make the changes permanent.
	- The commit operation applies all the changes made during the transaction.
5. Rollback the transaction:
	- If any operation within the transaction fails or encounters an error, roll back the transaction to its initial state.
	- The rollback operation discards all the changes made during the transaction.

# Common Database Errors

## Connection Errors
Errors that occur when establishing a connection to the database server, such as network issues, authentication failures, or incorrect connection parameters.

In [9]:
bad_conn = psycopg2.connect(
    host='bogus.com',
    database='bogus',
    user='bogus',
    password='what',
    connect_timeout=3 #seconds
)

OperationalError: timeout expired

## Query Errors
Errors that occur during SQL query execution, such as syntax errors, constraint violations, or data type mismatches.

In [ ]:
cursor = conn.cursor()
select_query = 'SELECT * FRAM employees WHERE age > 30'
cursor.execute(select_query)
results = cursor.fetchall()

In [ ]:
conn.rollback()

## Transaction Errors
Errors that occur while performing transactions, such as deadlocks, conflicts, or integrity violations.

In [ ]:
cursor = conn.cursor()
select_query = 'SELECT * FROM employees2 WHERE age > 30'
cursor.execute(select_query)
results = cursor.fetchall()

In [ ]:
conn.rollback()

# Error Handling Techniques
* Try-Except Block  
* Logging and Error Messages  
* Graceful Recovery - Error recovery mechanisms can include rolling back transactions, retrying failed operations, or providing alternative paths when errors occur

In [ ]:
from psycopg2.errors import UndefinedTable
import logging

try_these_tables = ['employer', 'employees', 'employee']
for table in try_these_tables:
    # Try-Except Block
    try:
        cursor = conn.cursor()
        select_query = 'SELECT * FROM ' + table + ' WHERE age > 30'
        cursor.execute(select_query)
        results = cursor.fetchall()
    except UndefinedTable as e:
        # Logging and Error Messages
        logging.error(table + ' table is undefined.')
        # Graceful Recovery
        conn.rollback()